* {
    margin: 0;
    box-sizing: border-box;
}

$gray: rgb(114, 111, 111);

@mixin button($border, $py, $px, $text, $bg, $size) {
    border:  1px solid $border;
    padding: $py $px;
    color: $text;
    text-decoration: none;
    background-color: $bg;
    font-size: $size;
    border-radius: 12px;

}
%fexdisplay {
    display: flex;
    align-items: center;
}

%textstyle {
    color: $gray;
    font-weight: 500;
}

%hover {
    color: rgb(48, 44, 44);
}

body {
    font-family: 'Epilogue', sans-serif;
    // font-family: 'Lexend Deca', sans-serif;
    // font-family: 'Livvic', sans-serif;
}

header {
    @extend %fexdisplay;
    padding: 1rem;
    justify-content: space-between;
    .buttons {
        @extend %fexdisplay, %textstyle;
        gap: 25px;
        .login {
            @include button(white, 0, 0, $gray, transparent, 14px);
            @extend %textstyle;
        }
        .login:hover {
            @extend %hover;
        }
        .register {
            @include button(black,12px ,20px, $gray, transparent, 14px);
            @extend %textstyle;
        }
        .register:hover {
            @extend %hover;
        }
    }
}

.navigation {
    @extend %fexdisplay, %textstyle;
    gap: 40px;
    .links {
        @extend %fexdisplay;
        gap: 25px;
        select {
            text-decoration: none;
            border: none;
            font-size: 14px;
            @extend %textstyle;
        }
        select:focus {
            outline: none;
        }
        select:hover {
            @extend %hover;
        }
        p {
            font-size: 14px;
        }
        p:hover {
            @extend %hover;
        }
       
    }

}

.section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    
    .text {
        @extend %fexdisplay;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
        align-self: flex-end;
        .topic {
            width: 30rem;
            font-size: 70px;
            font-weight: 700;
            line-height: 4rem;
            @extend %hover
            
        }
        .discuss{
            width: 25rem;
            color: $gray;
            
        }
        .learn-more {
            background-color: black;
            padding: 12px 20px;
            border-radius: 10px;
            color: white;
        }
    
        .learn-more:hover {
            @include button(black,12px ,20px, $gray, transparent, 14px);
        }
        .logos {
            display: flex;
            gap: 1rem;
            img {
                width: 6rem;
                height: 2rem;
            }
        }
    }
    img {

    }    
}